{{ partial "head.html" . }}
<body>

{{ partial "sidebar.html" . }}

    <div class="content container">
		 <div class="page">
			 <h1>I'm a PhD candidate at <a href="http://labri.fr">LaBRI Lab</a> in Bordeaux University</h1>
			 <p>I'm in the <a href="https://www.labri.fr/index.php?n=Progress.Progress?userlang=en">PROGRESS</a> team and a Teaching assistant at <a href="http://enseirb-matmeca.bordeaux-inp.fr/">ENSEIRB-MATMECA</a></p>
			<p>I enjoy <a href="http://yajdb.wordpress.com">coding</a>, <a href="http://www.seldemars.org/">Time Banks</a>, <a href="http://www.mp2013.fr/gr2013/">hicking</a> and I hate <a href="http://antipub.org/">ads</a>.
			 </div>
		
<!--
<div class="posts">
      {{ range .Data.Pages }}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h1>
    <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  </div>
  {{ end }}
</div>
!-->
</div>

  </body>
</html>
